* {
  margin: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;

  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
}

#map {
  width: 500px;
  height: 500px;
}
#container {
  display: inline-block;
}
